[package]
name = "iroh"
version = "0.12.0"
edition = "2021"
publish = false
readme = "README.md"
description = "Bytes. Distributed. For all languages."
license = "MIT OR Apache-2.0"
authors = ["n0 team"]
repository = "https://github.com/n0-computer/iroh-ffi"
homepage = "https://iroh.computer"
documentation = "https://iroh.computer/docs"

# Sadly this also needs to be updated in .github/workflows/ci.yml
rust-version = "1.67"

[profile.release]

[lib]
name = "iroh"
crate-type = ["staticlib", "cdylib"]

[[bin]]
name = "uniffi-bindgen"
path = "uniffi-bindgen.rs"

[dependencies]
anyhow = "1.0.69"
blake3 = "1.3.3"
bytes = "1"
data-encoding = { version = "2.3.3" }
iroh = "0.13.0"
iroh-io = { version = "0.3.0" }
libc = "0.2.141"
multibase = { version = "0.9.1" }
num_cpus = { version = "1.15.0" }
quinn = "0.10"
range-collections = "0.4.0"
tempfile = "3.4"
thiserror = "1.0.44"
tokio = "1.25.0"
tokio-util = { version = "0.7", features = ["io-util", "io"] }
uniffi = { version = "=0.25.0", features = ["cli"] }
url = "2.4"
flume = "0.11"
futures = "0.3.28"
quic-rpc = "0.7.0"
tracing-subscriber = { version = "0.3.17" }
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.113"

[dev-dependencies]
rand = "0.8"

[build-dependencies]
uniffi = { version = "=0.25.0", features = ["build"] }

[patch.crates-io]
# https://github.com/mullvad/system-configuration-rs/pull/42
system-configuration = { git = "https://github.com/tmpfs/system-configuration-rs", branch = "ios-hack" }

# needs to match the version being used uniffi-bindgen-go
uniffi = { git = "https://github.com/NordSecurity/uniffi-rs", tag = "v0.25.0-1" }
