[package]
name = "iroh-ffi"
version = "0.28.1"
edition = "2021"
publish = false
readme = "README.md"
description = "A toolkit for building distributed applications"
license = "MIT OR Apache-2.0"
authors = ["n0 team"]
repository = "https://github.com/n0-computer/iroh-ffi"
homepage = "https://iroh.computer"
documentation = "https://iroh.computer/docs"

rust-version = "1.75"

[workspace]
members = ["iroh-js"]

[package.metadata.maturin]
name = "iroh"

[lib]
name = "iroh_ffi"
crate-type = ["staticlib", "cdylib"]

[[bin]]
name = "uniffi-bindgen"
path = "uniffi-bindgen.rs"

[dependencies]
anyhow = "1.0.69"
async-trait = "0.1.80"
blake3 = "1.3.3"
bytes = "1"
data-encoding = { version = "2.3.3" }
iroh = { version = "0.28.1" }
iroh-io = { version = "0.6" }
iroh-gossip = { version = "0.28", features = ["rpc"] }
iroh-docs = { version = "0.28", features = ["rpc"] }
iroh-blobs = { version = "0.28", features = ["rpc"] }
libc = "0.2.141"
num_cpus = { version = "1.15.0" }
range-collections = "0.4.0"
thiserror = "1.0.44"
tokio = "1.25.0"
tokio-util = { version = "0.7", features = ["io-util", "io"] }
uniffi = { version = "0.28.0", features = ["cli", "tokio"] }
url = "2.4"
flume = "0.11"
futures = "0.3.28"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.17" }
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.113"
futures-lite = "2.3.0"
derive_more = { version = "1.0.0", features = ["debug"] }
quic-rpc = "0.15"


[dev-dependencies]
rand = "0.8"
tempfile = "3.4"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
tokio = { version = "1", features = ["full"] }

[build-dependencies]
uniffi = { version = "0.28.0", features = ["build"] }

[profile.release]
lto = true

[patch.crates-io]
iroh-gossip = { git = "https://github.com/n0-computer/iroh-gossip", branch = "mem-client" }
iroh-docs = { git = "https://github.com/n0-computer/iroh-docs", branch = "mem-rpc-client" }
iroh-blobs = { git = "https://github.com/n0-computer/iroh-blobs", branch = "mem-rpc-client" }
iroh-router = { git = "https://github.com/n0-computer/iroh", branch = "main" }
iroh-net = { git = "https://github.com/n0-computer/iroh", branch = "main" }
iroh = { git = "https://github.com/n0-computer/iroh", branch = "main" }
