[package]
name = "iroh-ffi"
version = "0.1.0"
edition = "2021"
publish = false
readme = "README.md"
description = "Bytes. Distributed. For all languages."
license = "MIT/Apache-2.0"
authors = ["n0 team"]
repository = "https://github.com/n0-computer/iroh-ffi"

# Sadly this also needs to be updated in .github/workflows/ci.yml
rust-version = "1.67"

[lib]
name = "iroh"
crate-type = ["staticlib", "cdylib"]

[[bin]]
name = "uniffi-bindgen"
path = "uniffi-bindgen.rs"

[features]
default = []

[dependencies]
anyhow = "1.0.69"
blake3 = "1.3.3"
bytes = "1"
data-encoding = { version = "2.3.3" }
iroh = { version = "0.5.1", default-features = false, features = ["mem-db", "iroh-collection", "flat-db"] }
iroh-io = { version = "0.2.1" }
libc = "0.2.141"
multibase = { version = "0.9.1"}
num_cpus = { version = "1.15.0" }
quinn = "0.10"
range-collections = "0.4.0"
tempfile = "3.4"
thiserror = "1.0.44"
tokio = "1.25.0"
tokio-util = { version = "0.7", features = ["io-util", "io"] }
uniffi = { version = "0.24.3", features = ["cli"] }
futures = "0.3.28"
quic-rpc = "0.6.1"
tracing-subscriber = { version = "0.3.17" }

[build-dependencies]
uniffi = { version = "0.24.3", features = ["build"] }

[patch.crates-io]
iroh = { git = "https://github.com/n0-computer/iroh", branch = "api-improvements" }
# https://github.com/mullvad/system-configuration-rs/pull/42
system-configuration = { git = "https://github.com/tmpfs/system-configuration-rs", branch = "ios-hack" }
